.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#transactions td, #transactions th {
  text-align: center;
  border: 1px solid black;
  padding: 8px;
}



.Deposit {
  background-color: yellowgreen;
  width: 100px;
  height: 30px;
  margin-left: 1%;
  margin-top: 5px;
  border: 1px solid black;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.Deposit:hover {
  background-color: rgb(116, 161, 26);
}

.Withdraw {
  background-color: yellow;
  width: 100px;
  height: 30px;
  margin-left: 1%;
  margin-top: 5px;
  border: 1px solid black;
  font-size: 15px;
  cursor: pointer;
  transition: 0.5s;
}

.Withdraw:hover {
  background-color: rgb(255, 196, 0);
}


input {
  margin-left: 5px;
}



